*{
	box-sizing: border-box;
}
:root{
	--font: monospace;
}
body{
	margin: 0;
	background-color: #626262;
}
header{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	border-style: double;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 3px 0 0 0;
	border-width: 5px;
	border-color: #cfcfcf;
	background-color: #525252;
}
header img{
	width: 50%;
	min-width: 60px;
	height: auto;
	border-radius: 10px;
}
header ul{
	list-style: none;
	display: inline;
}
header li{
	display: inline;
}
header a{
	text-decoration: none;
	font-family: var(--font);
	font-size: 18px;
	color: #eaeaea;
}
.contenedor_inline{
	display: inline-block;
}
.col-1{
	grid-column: span 1;
	align-self: center;
}
.col-2{
	grid-column: span 2;
	align-self: center;
}
.col-3{
	grid-column: span 3;
	align-self: center;
}
.col-4{
	grid-column: span 4;
	align-self: center;
}
.col-8{
	grid-column: span 8;
	align-self: center;
}
.row-1{
	grid-row: span 1;
}
.text-derecha{
	text-align: right;
}
.text-izquierda{
	text-align: left;
	padding-left: 4%;
}
.text-centro{
	text-align: center;
}
.text-inicio{
	align-self: start;
}
.margin-a-li a{
	margin: auto 1%;
}
.cuerpo{
	padding: 1%;
}
.cuerpo h1, h2, h3, h4{
	color: #eaeaea;
}
footer{
	background-color: #929292;
	border-color: #afafaf;
	border-style: solid;
	border-width: 2px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
footer h3{
	font-style: italic;
	color: #323232;
}
footer img{
	width: 15%;
	margin: 1% 5%;
}
.contenedor-col-6{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.contenedor-col-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.cotenedor-row-5{
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}
.borde-double{
	border-style: double;
}
.borde-double-redondo{
	border-style: double;
	border-radius: 10px;
}
.borde-bot{
	border: solid 2px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.margin-sin_top{
	margin-top: 0;
}
.margin-right{
	margin: 0 1% 0 0;
}
/* Ejemplo para limitar/cortar imagen
.contenedor-jugador img{
	position: relative;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 90vh;
}*/
