body{
	padding: 0;
	margin: 0;
}
header{
	display: inline-flex;
	padding: 0 0 10px 0;
	margin: 0;
	background-color: #7C3F7F;
	border-style: solid;
	border-width: 0 0 2px 0;
}
.titulo{
	display: inline-block;
	width: 70%;
	margin: 0 0 0 12px;
	font-style: italic;
	color: white;
}
.titulo h1{
	font-size: 40px;
	padding: 0;
	margin: 0;
}
.titulo h2{
	font-size: 28px;
	padding: 0;
	margin: 0;
}
.contenedor-menu{
	width: 30%;
	text-align: right;
	display: inline-block;
}
.redes-sociales {
	list-style: none;
	display: inline-block;
}
.redes-sociales li{
	display: inline;
}
.redes-sociales img{
	width: 10%;
	margin-left: 8px;
	margin-right: 12px;
}
.contenedor-descripcion{
	text-align: center;
	position: absolute;
	top: 24%;
	left: 52%;
}
.contenedor-descripcion h2{
	font-size: 24px;
	margin: 10px 0 5px 0;
}
.contenedor-descripcion h3{
	font-size: 20px;
	margin: 1px 0;

	display: inline-block;
}
.contenedor-descripcion img{
	width: 10%;
	border-radius: 10%;
}
.portada img{
	width: 100%;
	height: auto;
}